/* FONTS GOOGLE:

font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive;

*/

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}